.gridItem{
    transition: transform 0.15s ease-in-out;
}
.gridItem:hover{
    transform: scale(1.01)
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.noDataText{
    margin: 20px 0px 0px !important;
    font-size: 1rem;
    line-height: 1.5 ;
    font-weight: 700 !important;
}
  